@import '../../App.scss';

.portfolio__section{
    @extend section;
}
.portfolio__container{
    //@extend .container;
    //width: var(--container-width-lg);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    padding: 1rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem 1.3rem 1rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    h3{
        margin: 1.2rem 0 2rem;
    }

    &:hover{
        border-color: var(--color-primary-variant);
        background: transparent;

    }
}

.portfolio_item_image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item_cta{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

.portfolio__btn{
    @extend .btn;
    @extend .btn_primary;
}

/* ==================MEDIA QUERIES(MEDIUM  DEVICES) ================*/

@media screen and(max-width:1024px){
    .portfolio__container{
        width: var(--container-width-md);
        display: block;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }        
}
/* ==================MEDIA QUERIES(SMALL  DEVICES) ================*/
  @media screen and(max-width:600px){
    .portfolio__container{
        width: var(--container-width-sm);
        display: block;
        grid-template-columns: 1fr;
        gap:1rem;
    }
    .portfolio_item{
        margin-bottom: 2rem;
    }
}