@import '../../App.scss';

.techstack__section {
  margin-top: 8rem;
  h2,
  h5 {
    text-align: center;
    color: var(--color-light);
  }
  h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
  }
}

.techstack__container {
  @extend .container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .techstack__frontend,
  .techstack__backend {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;

    &:hover {
      background: transparent;
      border-color: var(--color-primary-variant);
    }

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      color: var(--color-primary);
    }
  }
}

.techstack__content {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  row-gap: 2rem;
}

.techstack__details {
  display: flex;
  gap: 1rem;
}
.techstack__h3 {
  margin-top: 1rem;
}
.techstack__details_icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* ==================MEDIA QUERIES(MEDIUM  DEVICES) ================*/

@media screen and(max-width:1024px) {
  .techstack__container {
    grid-template-columns: 1fr;

    div {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
    }
  }
  .techstack__content {
    padding: 1rem;
  }
}
/* ==================MEDIA QUERIES(SMALL  DEVICES) ================*/
@media screen and(max-width:600px) {
  .techstack__container {
    gap: 1rem;
    div {
      width: 100%;
      padding: 2rem 1rem;
    }
  }
}
